@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-image: #EEEEEE;
  height: 100vh;
  width: 100vw;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title_app{
  position: fixed;
  top: 0;
  left: 0;

  background-color: #FFDDED;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
}

.add_input {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FFDDED;
  width: 100%;
  /* display: none; */
}

.add_input_button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

ul {
  padding: 25px 0 0 0;
}

li {
  background-color: #FFDDED;
  border-radius: 5px;
  width: 250px;
  height: 100%;
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.button_style {
  border: none;
  border-radius: 5px;
  height: 50%;
  color: black;
}

.buttons_edit_delete {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button_edit {
  background-color: #FFD9C3;
}

.button_delete {
  background-color: rgb(255, 85, 85);
}

.leftSide_li {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}